.center
{
    color:white;
    text-align:center;
    text-decoration: underline;
    text-shadow:4px 1px black ;
}

.center2
{
    font:bolder;
    color:white;
    text-align:center;
    text-decoration: underline;
    text-shadow:4px 1px black ;

}

.main
{
    text-decoration: none;
}

.hu
{
    color: white;
}

.ft li a 
{
    text-decoration: none;
    color: white;
}

.ft li a:hover 
{
    text-decoration: none;
    color: lightblue;
}

.responsive 
{
    width: 100%;
    height: auto;
} 

.dropdown-item
{
   color: white !important;
}

.dropdown-item:hover
{
   background-color: black !important;
}

.full-page
{
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(bg-2.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}


@media only screen and (max-width: 1000px)
{
    /* For mobile phones: */
    .nj {
        text-align: center !important;
      width: 100% !important;
    }
}

.edit {
    font-size: 50px;
}

@media only screen and (max-width: 1000px) 
{
    .edit 
    {
        font-size: 35px;
        color: white;
    }

}

@media only screen and (max-width: 770px) 
{
    .edit 
    {
        font-size: 25px;
    }
}
